USE [EcuadDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/5/2024 9:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Names] [varchar](200) NULL,
	[UserName] [varchar](30) NULL,
	[Password] [varchar](1000) NULL,
	[IdRol] [int] NULL,
	[Signature] [varbinary](max) NULL,
	[Status] [bit] NULL,
	[UserCreation] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UserUpDate] [int] NULL,
	[DateUpdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO

ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROL] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_USER_ROL]
GO
